body 	{
	background-image : url('../img/foots1.jpg');
    background-repeat: repeat;
	margin : 0;
	padding :0;
	font-family : Arial;
	background-attachment: fixed;
	}
#wrapper {
	width : 960px;
	height : auto;
	background-image: url('../img/sand.jpg');
	overflow : auto;
	margin : 0 auto;
	padding-left: 0px;
	padding-right:0px;
	}
#header {
	width : 960px;
	height : 200px;
	padding-top: 4px;
	margin-bottom: 0px;
	background-image: url('../img/sand.jpg');
		}
#header > img {
	margin-left: 40px;
	margin-top: 20px;
}
#text {
	font-family: Arial;
	font-size: 1.8cm;
	padding-left: 4px;
	color: #644E4E;
	padding-right: 50px;
	letter-spacing : 1px;
	float: right;
	
  	}
		
#social {
	text-align: center;
	float : right;
	margin : 0px 0px 0px 0px;
	
	}
#social ul li {
	float : right;
	list-style : none;
	padding-right : 55px;
	padding-left: 30px;
	}
#social img {
	width : 45px;
	height : 45px;
	}
		
#sidebar {
	float : left;
	background-image: url('../img/sand.jpg');
	border-top: 1px solid #644E4E;
	padding-top: 0px;
	}
#menu ul{
	float : left;
	width : 960px;
	height :100px;
	
	}
#menu ul li {
	list-style : none;
	display: inline-block;
	padding : 10px;
	text-align : center;
	height: 60px;
	
	
	}
#menu ul li a {
	background : #FBFBD2;
	color : #5F4E4E;
	text-decoration : none;
	display : block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
	}	


#menu ul li a:hover {
	color : #FBFBD0;
	background: #B42F2C;
	box-shadow: 3px 3px 3px 3px gray;
	
	
}

#content {
	clear: both;
	
	width : 860px;
	padding-left : 45px;
	padding-right: 45px;
	letter-spacing : 1px;
	color : #5E4E4E;
	font-size: 14px;
	background-image: url('../img/sand.jpg');
	}
#content img {
	padding-left: 0px;
	padding-right: 0px;
	}

p 	{
	text-indent : 0px;
	line-height : 25px;
	text-align : justify;
	font-family: Tahoma;
	}
img	 {
float : left;
margin-right:20px;


}
.top a {
	color : #4E4F3E;
	text-decoration : none;
	}
#table {
	width: 860px;
	height: 100%;
	margin : 5px 5px 5px 5px;
	
	}
	
#iframe {
 padding-left:130px;
 width:560px;
 height:315px;
 
	}
	
#footer {
	clear : both;
	width :960px;
	height : 50px;
	color : #FBFBD2;
	border-top : 3px solid #7C7063;
	text-align: center;
	}
h5 	{
	text-align : right;
	}
#play {
	color: #B42F2C;
	font-weight: bold;
	font-size: 20px;
}
#size {
	color: #B42F2C;
	font-weight: bold;
	font-size: 20px;
}
#food {
	color: #B42F2C;
	font-weight: bold;
	font-size: 20px;
}
#intro {
	color: #B42F2C;
	font-weight: bold;
	font-size: 20px;
}




